.header-top {
    background: #000;
    padding: 10px 0;
}

.flag {
    width: 22px;
    height: 21px;
    display: inline-block;
}

.flag-vn {
    background: url(../img/vietnam.png) no-repeat;
}

.flag-us {
    background: url(../img/united-states.png) no-repeat;
}

.flag-cn {
    background: url(../img/china.png) no-repeat;
}

.flag-kr {
    background: url(../img/south-korea.png) no-repeat;
}

.flag-jp {
    background: url(../img/japan.png) no-repeat;
}

.logo img {
    max-width: 25%;
}

.language {
    cursor: context-menu;
    white-space: nowrap;
}

.language>a>i {
    vertical-align: middle;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right,
.top-left {
    display: flex;
    align-items: center;
}

.top-left {
    justify-content: flex-start;
}

.top-right {
    justify-content: flex-end;
}

.line-down {
    width: 2px;
    height: 24px;
    background: #999;
    margin: 0 10px -3px;
}

.mail,
.phone-number {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.mail-text,
.phone-text {
    margin-left: 5px;
}

.nav-link {
    padding: 0;
    color: #999;
}

.nav-link.show,
.nav-link:hover {
    color: #FF6000;
}

.account-text {
    margin-left: 10px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #FF6000;
}

.dropdown-menu {
    font-size: 14px;
    padding: 0;
}

.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cart>a {
    white-space: nowrap;
}

/* slider start */

.carousel-item {
    max-height: 850px;
}

.carousel-indicators [data-bs-target] {
    /* background-color: #FF6000; */
    height: 5px;
    width: 40px;
    margin-right: 10px;
}

.carousel-indicators {
    bottom: 20px;
}

/* slider end */

.language-mobile {
    display: none;
}

.language-mobile .flag {
    position: relative;
    top: 3px;
}

.language-mobile span {
    cursor: pointer;
}

.search-wrap {
    margin: 30px 0;
    position: relative;
    border-radius: 5px;
}

.search-wrap .search-input {
    border-radius: 5px;
    border: transparent;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
}

.search-wrap .btn-search {
    background: #FF6000;
    color: #fff;
    position: absolute;
    right: 0;
    height: 44px;
    line-height: 44px;
    padding: 0 30px;
}



/* tabs start */

.tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    border-radius: 5px;
}

.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.tabs ul li {
    margin-bottom: 15px;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.tabs ul li.active a {
    border-bottom: #FF6000 3px solid;
    color: #FF6000;
}

.tabs ul li a {
    border-bottom: #808080 3px solid;
    padding-bottom: 10px;
}

.tabs ul li a:hover {
    border-bottom: #FF6000 3px solid;
    transition: .2s linear;
}

.tabs ul li a span {
    white-space: nowrap;
    font-weight: bold;
}

.tabs .content {
    margin-top: 30px;
    /* max-height: 375px; */
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.tabs .content section {
    transition: .2s linear;
}

.tabs .content .btn-submit {
    margin-right: 50px;
    margin-top: 20px;
}

.tabs .content .result {
    display: flex;
    align-items: center;
}

.tabs .content .result h4 {
    color: #FF6000;
    font-weight: bold;
    margin-bottom: 0;
}

.tabs .content .result p {
    margin-left: 15px;
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 0;
}

/* tabs end */

/* content tabs start*/

.pick-content {
    margin: 15px 0;
}

.pick-content p {
    margin-bottom: 0;
}

.pick-content strong {
    color: red;
}

.pick-content .input-spect {
    display: flex;
    align-items: center;
}

.pick-content .input-spect>span {
    margin: 0 20px;
}

.pick-content .input-spect .input-spect-wrap {
    width: 250px;
    position: relative;
}

.pick-content .input-spect .input-spect-wrap span:first-child {
    position: absolute;
    left: 5px;
    top: 3px;
}

.pick-content .input-spect .input-spect-wrap span:last-child {
    position: absolute;
    right: 7px;
    top: 3px;
}

.pick-content .input-spect .input-spect-wrap input {
    padding-left: 40px;
    padding-right: 25px;
    border: #ced4da 1px solid;
    border-radius: .25rem;
}

/* content tabs end */

/* list product start*/

.table-product-wrap>h2 {
    font-weight: bold;
    font-size: 25px;
    color: #FF6000;
}

.product-element {
    border-top: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
    padding: 1.5rem 0;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-element .product-img {
    position: relative;
}

.product-element .product-img>img {
    border-radius: 5px;
    max-width: 150px;
    max-height: 150px;
    width: 150px;
}

.product-element .product-name {
    font-size: 24px;
    position: relative;
    display: flex;
    align-items: center;
}

.product-element .product-name>a {
    color: #000;
    position: relative;
}

.product-element .product-name>a:hover {
    color: #FF6000;
}

.product-element .product-contents {
    position: relative;
    flex: 1;
    margin-left: 115px;
}

#product-list {
    width: 100%;
}

#product-list tr th {
    color: #FF6000;
    width: 25%;
    /* border-bottom: #ddd 1px solid; */
}

#product-list tr:first-child td {
    padding-top: 10px;
}

#product-list tr td {
    color: #000;
}

#product-list tr td input[type='number'] {
    height: 30px;
    border: 1px solid #e8e8e8;
    width: 55px;
    text-align: center;
    font-size: 16px;
}

.group-btn {
    display: flex;
    align-items: center;
}

.group-btn>button[type="submit"] {
    font-size: 20px;
}

.group-btn>button[type="submit"]:hover {
    color: #FF6000;
    transition: .2s linear;
}

/* list product end */

.foot-main-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: #ddd solid 1px;
}

.foot-main-wrap .result {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #FF6000;
}

.foot-main-wrap .result>* {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 19px;
}

.foot-main-wrap .result .accept {
    color: #198754;
}

.foot-main-wrap .result .warning {
    color: #ffc107;
}

.foot-main-wrap .result .danger {
    color: #dc3545;
}

.btn-compare {
    background: #FF6000;
    color: #fff;
}

.btn-submit:hover,
.btn-search:hover,
.btn-compare:hover {
    background: #fff;
    color: #FF6000;
    border: #FF6000 1px solid;
    transition: .2s linear;
}

/* checkbox start*/

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-checkbox input:checked~.checkmark {
    background-color: #ff862d;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Create a custom checkbox */
.checkmark-dot {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: #ddd solid 1px;
}

/* When the checkbox is checked, add a white background */
.container-checkbox input:checked~.checkmark-dot {
    background-color: white;
    border: #ddd solid 1px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-dot:after {
    content: "";
    position: absolute;
    display: none;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-dot:after {
    width: 10px;
    height: 10px;
    left: 4px;
    top: 4px;
    background-color: #ff862d;
    border-radius: 50%;
}

.checkmark:hover .check-note {
    visibility: visible;
    opacity: 1;
    transition: .2s linear;
}

.check-note {
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    position: absolute;
    bottom: 30px;
    left: -210px;
    background: #fff;
    z-index: 99;
    width: 200px;
    padding: 29px;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
}

.check-note>p {
    color: #000;
    margin-bottom: 0;
}

/* checkbox end */
.product-name>a:hover .product-detail {
    display: block;
}

.product-detail {
    z-index: 99;
    background: #fff;
    position: fixed;
    width: 850px;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    padding: 50px;
    font-size: 14px;
    display: none;
}

.product-detail>table {
    width: 100%;
}

.product-detail>table tr th {
    font-weight: bold;
    color: #000;
}

.product-detail>table tr td {
    padding: 10px;
    color: #000;
}

/* pagination start */

.page-link {
    color: #000;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 20px;
}

.page-link:first-child,
.page-link:last-child {
    width: auto;
    height: auto;
}

.page-item:first-child .page-link {
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link {
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item:not(:first-child) .page-link {
    margin-left: 5px;
}

.page-link:hover {
    color: #fff;
    border-color: #FF6000;
    background-color: #FF6000;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #FF6000;
    border-color: #FF6000;
}

/* pagination end */

/* footer start */

footer {
    position: relative;
    background: #000;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 1;
}

footer h1 {
    color: #fff;
    display: block;
}

footer .head-wrap {
    display: flex;
}

.take-mail-wrap {
    position: relative;
    margin-bottom: 30px;
    width: 250px;
}

.mail-input {
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    padding: 5px 20px;
    border: transparent;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
}

.btn-submit {
    background-color: #FF6000;
    color: #fff;
    height: 34px;
    padding: 5px 30px;
}

.take-mail-wrap .btn-submit {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #FF6000;
    color: #fff;
    height: 34px;
    padding: 5px 30px;
}

.icon-facebook {
    width: 38px;
    height: 37px;
    background: url(../img/facebook.png);
    display: inline-block;
}

.icon-instagram {
    width: 36px;
    height: 38px;
    background: url(../img/instagram.png);
    display: inline-block;
}

.icon-youtube {
    width: 33px;
    height: 25px;
    background: url(../img/youtube.png);
    display: inline-block;
}

.icon-zalo {
    width: 36px;
    height: 38px;
    background: url(../img/zalo.png);
    display: inline-block;
}

.social-wrap {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer hr {
    background: #FF6000;
    height: 2px !important;
    opacity: 1;
}

.mid-wrap p {
    font-size: 11px;
    margin-bottom: 10px;
}

.foot-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-wrap>p {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 0;
}

.foot-wrap img {
    display: inline-block;
    width: 135px;
    height: 40px;
    margin-left: 10px;
}

/* footer end */

/* contact start*/

.tabs .contact h4 {
    font-weight: bold;
    display: inline-block;
    color: #FF6000;
}

.tabs .contact h3 {
    color: #FF6000;
    font-weight: bold;
}

.tabs .contact span {
    color: #000;
}

.tabs .contact .map {
    margin-top: 20px;
}

/* contact end */

/* login, register, fogot pw start */
.user {
    display: flex;
    white-space: nowrap;
}


/* login, register, fogot pw end */

.main-detail .left-site .slider-dot {
    background: #FF6000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-bottom: 0;
    border-top: 0;
    transition: .2s linear;
}

.main-detail .left-site .slider-dot.active {
    width: 25px;
    border-radius: 15px;
    transition: .2s linear;
}

.main-detail .product-name {
    text-transform: uppercase;
    font-size: 30px;
}

.product-detail-table {
    overflow-x: hidden;
    width: 100%;
}

.main-detail .product-detail-table tr:last-child td {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.product-detail-table select {
    max-width: 39%;
}

.product-detail-table tr td {
    padding: 5px 0;
    color: #000;
    margin-bottom: 0;
    text-transform: uppercase;
}

.product-detail-table tr th {
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    max-width: 70px;
}

.quantity {
    display: flex;
    align-items: center;
    text-align: center;
}

.quantity span::before {
    line-height: 30px;
}

.quantity #minus-quantity,
.quantity #plus-quantity {
    background: #fff;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 1px solid #FF6000;
    border-radius: 5px;
    color: #FF6000;
}

.quantity #minus-quantity:hover,
.quantity #plus-quantity:hover {
    background: #FF6000;
    color: #fff;
}

.quantity input[type='number'] {
    height: 30px;
    width: 50px;
    border-radius: 0;
    text-align: center;
    border-left: none;
    border-right: none;
}

.right-site .button-wrap .btn-submit {
    font-size: 14px;
}

/* tabs product start */
.tabs-product {
    margin-top: 25px;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    padding: 25px;
}

.tabs-product input[name=tab-control] {
    display: none;
}

.tabs-product ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.tabs-product ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.tabs-product ul li label {
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .tabs-product ul li label span {
    border-bottom: 2px solid #000;
} */

.tabs-product input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label,
.tabs-product input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label,
.tabs-product input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label,
.tabs-product input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    color: #FF6000
}

.tabs-product .content section {
    border-top: solid 1px #eee;
    padding: 15px;
    color: #000;
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs-product .content section table td,
.tabs-product .content section table th {
    border-bottom: none;
}

.tabs-product input[name=tab-control]:nth-of-type(4):checked~.content>section:nth-child(4),
.tabs-product input[name=tab-control]:nth-of-type(3):checked~.content>section:nth-child(3),
.tabs-product input[name=tab-control]:nth-of-type(2):checked~.content>section:nth-child(2),
.tabs-product input[name=tab-control]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
}

/* tabs product end */

/* product preview start*/
.product-preview {
    position: relative;
}

.product-preview>img {
    width: 100%;
    padding: 25px;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    border-radius: 5px;
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.product-thumblist .slider-product>img {
    object-fit: cover;
    max-width: 140px;
    max-height: 185px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: .2s linear;
    opacity: 0.75;
    margin-right: 8px;
    padding: 15px;
}

.product-thumblist .slider-product>img:hover {
    opacity: 1;
    border-color: #FF6000;
}

.product-thumblist {
    position: relative;
    max-width: 510px;
    display: flex;
    min-height: 100px;
    align-items: center;
    margin-top: 25px;
}

.product-thumblist .slider-product {
    width: 444px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
    margin-left: 35px;
}

.btn-prev,
.btn-next {
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    color: #eee;
    width: 25px;
    height: 25px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 40%;
    z-index: 11;
    transition: .2s linear;
}

.btn-next {
    right: 0;
}

.btn-prev {
    left: 0;
}

.btn-next>i {
    margin-left: 3px;
}

.btn-prev:hover,
.btn-next:hover {
    transition: .2s linear;
    color: #FF6000;
    border-color: #FF6000;
}

/* product preview end */

/* similar product start */
.title-text {
    font-weight: bold;
    font-size: 25px;
    color: #FF6000;
    margin-top: 25px;
}

.similar-product-mobile {
    display: none;
}

.similar-product-mobile,
.similar-product-desktop {
    margin-top: 25px;
    margin-bottom: 30px;
}

.similar-product-mobile a,
.similar-product-desktop a {
    padding: 15px;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    display: inline-block;
    margin-left: 1%;
    height: 300px;
    position: relative;
}

.similar-product-mobile a img,
.similar-product-desktop a img {
    max-width: 250px;
}

.similar-product-mobile .carousel-item,
.similar-product-desktop .carousel-item {
    padding: 5px 0;
    text-align: center;
}

.similar-product-desktop .carousel-control-prev,
.similar-product-desktop .carousel-control-next {
    width: 6%;
    color: #FF6000;
    font-size: 24px;
}

.similar-product-mobile .carousel-control-prev,
.similar-product-mobile .carousel-control-next {
    width: 3%;
    color: #FF6000;
    font-size: 18px;
}

.sub-title-product {
    max-width: 250px;
    margin-bottom: 0;
}

/* .img-wrap {
    max-width: 250px;
    max-height: 217px;
    object-fit: cover;
} */

.carousel-caption{
    color: #000;
}

/* similar product end */

/* register start */
.register {
    background: -webkit-linear-gradient(right, #ffffff80, #000000);
}

.register .btn-submit {
    width: 170px;
}

.register-wrap {
    margin: auto;
    width: 500px;
    padding: 20px 50px;
    background: #f8f9fa;
    border-radius: 5px;
}

.register-wrap .logo {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.register .register-form {
    padding: 3% 10%;
}

.gender {
    display: flex;
    align-items: center;
}

.form-group {
    max-width: 250px;
}

.types {
    display: none;
}

/* register end */

/* compare start */
.card-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
}

.card-delete>a>i {
    font-size: 20px;
}

.main-compare {
    margin-bottom: 25px;
}

.box-compare {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-compare .card-img-top {
    max-width: 398px;
    box-shadow: none;
}

.card-title {
    height: 44px;
    color: #000;
}

.main-compare .compare-element {
    max-width: 25rem;
}

.main-compare .compare-element:hover {
    transition: .2s linear;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    border: none;
}

.main-compare .compare-element .card>img {
    padding: 20px;
}

.main-compare .box-compare .card .card-body .card-text .product-detail-table tr th {
    width: 30%;
}

.main-compare .box-compare .card .card-body .card-text .product-detail-table tr:last-child td {
    display: inline-block;
    text-align: start;
}

.compare-img {
    position: relative;
    padding: 20px;
}

.main-compare .card .card-body .card-text .product-detail-table .new-price {
    font-size: unset;
    padding: 0;
    font-weight: bold;
}

/* compare end */

/* profile start*/
.main-profile {
    margin-bottom: 25px;
    color: #000;
}

.main-profile textarea {
    line-height: 14px;
}

.main-profile h3 {
    padding-bottom: 15px;
    border-bottom: 1px #eee solid;
    color: #FF6000;
}

.main-profile .nav-link {
    padding: .5rem 1rem;
    margin-right: 5px;
}

.main-profile .sub-title {
    display: block;
    color: #6c757d;
}

/* profile end */

/* history start */

.color-waiting {
    color: #ffc107;
    font-weight: bold;
}

.color-success {
    color: #198754;
    font-weight: bold;
}

.color-fail {
    color: #dc3545;
    font-weight: bold;
}

.buy-history {
    width: 100%;
}

.buy-history tr th {
    color: #FF6000;
}

.buy-history tr td {
    padding: 10px 0;
    margin-right: 15px;
}

.buy-history .btn {
    font-size: 14px;
}

.buy-history .btn-submit {
    padding: 5px 18px;
    white-space: nowrap;
}

/* history end */

/* product sale start*/

.sale {
    background: #dc3545;
    color: #fff;
    /* font-weight: bold; */
    width: fit-content;
    padding: 0 5px;
    font-size: 10px;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    padding-left: 25px;
    display: inline-block;
    /* margin-left: 25px;
    margin-top: 20px; */
    text-transform: uppercase;
    transform: rotate(15deg);
    box-shadow: 4px 4px 10px 2px #ec5959;
    transition: .2s linear;
    cursor: default;
    position: absolute;
    top: 0;
    right: -55px;
}


/* .sale:hover {
    transform: rotate(40deg);
    transform-origin: 17px 12px;
    transition: transform .5s;
}

.product-preview .sale:hover {
    transform-origin: 23px 12px;
} */

.sale::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 8px;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
}

.product-preview .sale {
    top: 15px;
    right: 70px;
}

.compare-img .sale {
    top: 45px;
    right: -50px;
}

.old-price {
    font-weight: normal;
    text-decoration: line-through;
}

.new-price {
    color: #dc3545;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 24px;
}

/* product sale end */

/* checkout start */

.checkout-table {
    width: 100%;
    color: #000;
    margin-bottom: 25px;
}

.checkout-table tr th {
    color: #FF6000;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.checkout-table tr td {
    padding-top: 15px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.checkout-table tr td h3 {
    font-weight: bold;
}

.checkout-table tr td img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding: 15px;
}

.checkout-table tr td input[type="number"] {
    max-width: 70px;
}

i.fas.fa-times-circle,
.checkout-table .action-delete {
    cursor: pointer;
}

/* .sub-checkout .card-text {} */
.total-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.pay-wrap {
    margin-right: 25px;
}

.total-pay-wrap {
    display: flex;
    align-items: center;
}

.total-wrap h2 {
    font-size: 18px;
    margin-bottom: 0;
}

h2.card-total {
    margin: 0 10px;
    margin-right: 20px;
    font-size: 26px;
    color: #FF6000;
}

.checkout-table .action-delete {
    position: relative;
}

.checkout-table .action-delete::after {
    content: 'Xoá';
    position: absolute;
    top: -40px;
    left: -65px;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
    padding: 10px 20px;
    opacity: 0;
    transition: .2s linear;
    visibility: hidden;
    background: #fff;
    color: #000;
}

.checkout-table .action-delete:hover {
    color: #FF6000;
}

.checkout-table .action-delete:hover::after {
    visibility: visible;
    opacity: 1;
}

.address {
    display: flex;
    align-items: center;
}

/* checkout end */